table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table tr:first-child{
    background-color: red;
    font-weight: bold;
}

table tr:not(:first-child):nth-child(even){
    background-color: darkviolet;
}

table tr:not(:first-child):nth-child(odd){
    background-color: violet;
}

table tr:not(:first-child):hover{
    background-color: blanchedalmond;
}